@charset "UTF-8";
// ========================================
// Font Legibility
// ========================================

@mixin font-legibility {
	-moz-font-feature-settings: "liga", "kern";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
